<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'user/css/auth.css' %}">
  <title>Login</title>
</head>
<body>
  <main class="form-container">
    <form class="form" action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Sign In</button>
      <a href="{% url 'register' %}">Sign Up!</a>
    </form>
  </main>
</body>
</html>