<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'user/css/auth.css' %}">
  <title>Login</title>
</head>
<body>
  <main class="form-container">
    <form class="form" action="" method="POST">
      {% csrf_token %}
      <legend>SIGN IN</legend>
      {{ form.as_p }}
      <button class="auth-btn">Sign In</button>
      <a href="{% url 'register' %}" class="button-anchor"><button class="redirect-btn" type="button">Register</button></a>
      <div class="misc-container">
        <label for="checkbox" class="checkbox-label">
          <input type="checkbox" id="checkbox" />
          Stay Signed In
        </label>
        <a href="/auth/forgot" class="anchor">Forgot Password?</a>
      </div>
    </form>
  </main>
</body>
</html>