<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'user/css/auth.css' %}">
  <title>Register</title>
</head>
<body>
  <main class="form-container">
    <form class="form" action="" method="POST">
      {% load static %}
      <legend>REGISTER</legend>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="auth-btn">Register</button>
      <a href="{% url 'login' %}" class="button-anchor"><button class="redirect-btn" type="button">Sign In</button></a>
    </form>
  </main>
</body>
</html>