{% extends "home/base.html"%}
{% load static %}

{% block content %}
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">

                        <h1 class="text-capitalize mb-5 text-lg">Medicines</h1>

                        <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{% url 'home' %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Doctors</a></li>
          </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- portfolio -->
    <section class="section doctors">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">

                        <div class="divider mx-auto my-4"></div>

                    </div>
                </div>
            </div>


            <div class="row shuffle-wrapper portfolio-gallery">
                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
                    <div class="position-relative doctor-inner-box">
                        <div class="doctor-profile">
                            <div class="doctor-img">
                                <img src="{% static 'images/team/1.jpg' %}" alt="doctor-image" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="content mt-3">
                            <h4 class="mb-0 product-name">Napa</h4>
                            <p>Napa (Paracetamol) is a fast acting and safe analgesic with marked antipyretic property. It is specially suitable for patients who, for any reason, can not tolerate aspirin or other analgesics. Napa suppositories are used for
                                rapid symptomatic management of pain and fever.
                            </p>
                            <h4 class="mb-0">Price-<span class="product-price">50</span>/- per page</h4>
                            <button class="btn btn-main-2 btn-round-full btn-icon" class="Napa">Add to cart<i class="icofont-simple-right ml-3"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat2&quot;]">
                    <div class="position-relative doctor-inner-box">
                        <div class="doctor-profile">
                            <div class="doctor-img">
                                <img src="{% static 'images/team/2.jpg'%}" alt="doctor-image" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="content mt-3">
                            <h4 class="mb-0 product-name">Flagyl 400</h4>
                            <p>Flagyl 400 Tablet is a versatile antibiotic medicine that can be used to treat many different infections caused by bacteria. These include infections of the blood, brain, lungs, bones, joints, urinary tract, stomach, and intestines.
                            </p>
                            <h4 class="mb-0">Price-<span class="product-price">90</span>/- per page</h4>
                            <button class="btn btn-main-2 btn-round-full btn-icon" value="Flagyl 400">Add to cart<i class="icofont-simple-right ml-3"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat3&quot;]">
                    <div class="position-relative doctor-inner-box">
                        <div class="doctor-profile">
                            <div class="doctor-img">
                                <img src="{% static 'images/team/3.jpg'%}" alt="doctor-image" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="content mt-3">
                            <h4 class="mb-0 product-name">Aratrol</h4>
                            <p>Alatrol® is indicated for the relief of symptoms associated with seasonal allergic rhinitis due to allergen. Symptoms treated effectively include sneezing, rhinorrhea, pruritus, ocular pruritus, tearing and redness of the eyes.
                            </p>
                            <h4 class="mb-0">Price-<span class="product-price">60</span>/- per page</h4>
                            <button class="btn btn-main-2 btn-round-full btn-icon" name="Aratrol">Add to cart<i class="icofont-simple-right ml-3"></i></button>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer section gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mr-auto col-sm-10">
                            <div class="widget mb-5 mb-lg-0">

                                <p>Contact us through the social media links if you can't reach us through the phone number.</p>

                                <ul class="list-inline footer-socials mt-4">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>



                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Company Support </a></li>
                            <li><a href="#">FAQuestions</a></li>
                            <li><a href="#">Company Licence</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Get in Touch</h4>
                        <div class="divider mb-4"></div>

                        <div class="footer-contact-block mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-email mr-3"></i>
                                <span class="h6 mb-0">Support Available for 24/7</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">Support@email.com</a></h4>
                        </div>

                        <div class="footer-contact-block">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-support mr-3"></i>
                                <span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">+23-456-6588</a></h4>
                        </div>
                    </div>
                </div>
        </div>



        <div class="row">
            <div class="col-lg-4">
                <a class="backtop js-scroll-trigger" href="#top">
                    <i class="icofont-long-arrow-up"></i>
                </a>
            </div>
        </div>
        </div>
        </div>
        </footer>
{% endblock %}